<html>
    <head>
        <title>results</title>
    </head>
    <body>
    <a href=""><h1>Submitted info</h1></a>
    <p><strong><%= PostData.name%></strong></p>
    <p><strong><%= PostData.location%></strong></p>
    <p><strong><%= PostData.lanaguage%></strong></p>
    <p><strong><%= PostData.comment%></strong></p>
    </body>
</html>